.cabinets {
  margin-bottom: 20px;
}
.cabinets .buttons {
  font-size: 0;
}
.cabinets .buttons .btn.cabinet {
  margin: 0 2px 2px;
  font-size: 10.5px;
}
.cabinets .alert {
  margin-top: 10px;
}
.cabinets .alert .current_cabinet_info {
  display: inline-block;
}
#shedule td.focus {
  background: #F2FFFF;
}
#shedule .fc-event-time,
#shedule .fc-event-title,
#shedule .fc-event-collective,
#shedule .fc-event-teachers {
  line-height: 1;
}
#shedule .fc-event-title {
  font-weight: bold;
  padding: 2px 0;
}
#shedule .fc-event-collective,
#shedule .fc-event-teachers {
  font-size: 10px;
}
#shedule .fc-event-collective {
  margin-bottom: 4px;
}
