#shedule {
  td.focus {
    background: #F2FFFF;
  }

  .fc-event-time, .fc-event-title {
    line-height: 1;
  }
  .fc-event-time, .fc-event-title b {
    display: inline-block;
    margin-bottom: 5px;
  }
}