.cabinets {
    margin-bottom: 20px;
    .buttons {
        font-size: 0;
        .btn.cabinet {
            margin: 0 2px 2px;
            font-size: 10.5px;
        }
    }
    .alert {
        margin-top: 10px;
        .current_cabinet_info {
            display: inline-block;
        }
    }
}

#shedule {
    td.focus {
        background: #F2FFFF;
    }

    .fc-event-time, .fc-event-title, .fc-event-collective, .fc-event-teachers {
        line-height: 1;
    }
    .fc-event-title {
        font-weight: bold;
        padding: 2px 0;
    }
    .fc-event-collective, .fc-event-teachers {
        font-size: 10px;
    }
    .fc-event-collective {
        margin-bottom: 4px;
    }
}
