/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
.input-shadow {
  border: none;
  border-bottom: 1px solid #6a9bb6;
  box-shadow: 0 1px 2px 0 #808384 inset;
  -moz-box-shadow: 0 1px 2px 0 #808384 inset;
  -webkit-box-shadow: 0 1px 2px 0 #808384 inset;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.scroller {
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  /* uncomment to accelerate scrolling on iOS */
}
.scroller::-webkit-scrollbar {
  /* Preventing webkit cross-direction scrolling bug */
  width: 0;
}
.scroller__track {
  display: none;
  /* Invisible by default */
  position: absolute;
  right: 4px;
  top: 10px;
  bottom: 4px;
  width: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.baron .scroller__track {
  display: block;
  /* Visible when scrolling is possible */
}
.scroller__bar {
  /* The bar. You should define width, right position and background */
  position: absolute;
  z-index: 1;
  right: 0;
  width: 10px;
  background: #999;
}
.loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/loader.gif) no-repeat;
  display: none;
}
.loader-orange {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/loader-orange.gif) no-repeat;
  display: none;
}
.breadcrumbs {
  margin-bottom: 10px;
}
ul {
  list-style-image: url(../img/arrow.png);
}
ul.grid {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.grid li {
  padding-left: 40px;
  padding-top: 4px;
  padding-bottom: 5px;
  background: url(../img/arrow.png) 10px 11px no-repeat;
  margin-top: 0;
  margin-bottom: 5px;
}
ul.grid li:nth-child(2n) {
  background-color: #eaf6fc;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  font-size: 18px;
  color: #323232;
  margin-bottom: 30px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background: url(../img/navigators.png) 0 0 no-repeat;
  height: 21px;
  width: 21px;
  cursor: pointer;
  text-indent: -9999px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background: url(../img/navigators.png) -21px 0 no-repeat;
  height: 21px;
  width: 21px;
  cursor: pointer;
  text-indent: -9999px;
}
.ui-datepicker table.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker table.ui-datepicker-calendar th {
  color: #fb805f;
  text-transform: uppercase;
  font-size: 10px;
}
.ui-datepicker table.ui-datepicker-calendar td .ui-state-default {
  font-size: 14px;
  color: #323232;
  padding: 4px;
  border-radius: 45px;
  display: inline-block;
  min-width: 28px;
  height: 28px;
  text-align: center;
}
.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default {
  text-decoration: none;
}
.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default:hover {
  text-decoration: underline;
  color: #fb805f;
}
.ui-datepicker table.ui-datepicker-calendar td a.ui-state-active {
  background: #fb805f;
  color: #ffffff;
}
.ui-datepicker table.ui-datepicker-calendar td a.ui-state-active:hover {
  color: #ffffff;
  text-decoration: none;
}
.ui-datepicker table.ui-datepicker-calendar td.ui-state-disabled .ui-state-default {
  color: #e7e7e7;
}
.btn {
  display: inline-block;
  color: #ffffff;
  padding: 8px 25px 10px;
  font-size: 13px;
  background-color: #fb805f;
  text-decoration: none;
  height: 34px;
  vertical-align: top;
  outline: 0;
  border-radius: 17px;
  border: none;
  border-width: 0;
  border-bottom: 2px solid #dc3f16;
}
.btn:hover {
  background-color: #e36342;
}
.btn:active {
  border-bottom-color: #e36342;
}
.photo-slider {
  display: inline-block !important;
  vertical-align: top;
  width: 667px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.photo-slider .photo-info {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}
.photo-slider .photo-caption {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Segoe UI';
  margin-bottom: 10px;
}
.photo-slider .photo-more {
  font-size: 13px;
  background: #fa8060;
  border-radius: 20px;
  padding: 5px 28px;
  text-decoration: none;
  font-family: 'Segoe UI', regular;
  line-height: 10px;
  border-bottom: solid 2px #dc3f16;
  color: #fff;
  margin-bottom: 10px;
}
.photo-slider .owl-prev,
.photo-slider .owl-next {
  width: 18px;
  height: 19px;
  background: black;
  position: absolute;
  top: 126px;
}
.photo-slider .owl-prev {
  left: 10px;
  background: black;
}
.photo-slider .owl-next {
  right: 10px;
  background: black;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'segoe_ui';
  src: url('fonts/segoeui-webfont.eot');
  src: url('fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeui-webfont.woff') format('woff'), url('fonts/segoeui-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoe_ui';
  src: url('fonts/segoeuib-webfont.eot');
  src: url('fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuib-webfont.woff') format('woff'), url('fonts/segoeuib-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'segoe_ui';
  src: url('fonts/segoeuii-webfont.eot');
  src: url('fonts/segoeuii-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuii-webfont.woff') format('woff'), url('fonts/segoeuii-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'segoe_ui';
  src: url('fonts/segoeuil-webfont.eot');
  src: url('fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuil-webfont.woff') format('woff'), url('fonts/segoeuil-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'segoe_ui';
  src: url('fonts/segoeuiz-webfont.eot');
  src: url('fonts/segoeuiz-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuiz-webfont.woff') format('woff'), url('fonts/segoeuiz-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'segoe_ui';
  src: url('fonts/seguisb-webfont.eot');
  src: url('fonts/seguisb-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/seguisb-webfont.woff') format('woff'), url('fonts/seguisb-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
.icon {
  background: url(../img/sprite.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.icon-phone {
  background: url(../img/sprite.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
}
.icon-search {
  background: url(../img/sprite.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-position: -24px 0;
}
input {
  font-size: 14px;
  padding: 5px 12px;
  box-sizing: border-box;
  outline: 0;
  border: none;
  border-bottom: 1px solid #6a9bb6;
  box-shadow: 0 1px 2px 0 #808384 inset;
  -moz-box-shadow: 0 1px 2px 0 #808384 inset;
  -webkit-box-shadow: 0 1px 2px 0 #808384 inset;
}
input[type=search] {
  border-radius: 17px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group input {
  display: table-cell;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input-group button {
  border-left: 1px solid #808384;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: table-cell;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: -1px;
  position: relative;
  outline: none;
  border: none;
  border-bottom: 1px solid #6a9bb6;
  box-shadow: 0 1px 2px 0 #808384 inset;
  -moz-box-shadow: 0 1px 2px 0 #808384 inset;
  -webkit-box-shadow: 0 1px 2px 0 #808384 inset;
}
.input-group input[type=search] + button {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.input-group input[type=search] + button .icon-search {
  height: 14px;
  background-position: -24px -5px;
}
body {
  font-family: 'segoe_ui', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #565656;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.main {
  min-width: 980px;
  background-color: #f2f2f2;
}
a {
  color: #38799e;
}
a:hover {
  text-decoration: none;
}
h2 {
  color: #323232;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}
h3 {
  color: #323232;
  font-weight: normal;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 18px;
}
p {
  color: #565656;
  font-size: 14px;
}
header .top {
  background-color: #38799e;
  padding: 20px 0;
}
header .top .logo {
  display: inline-block;
  margin-right: 20px;
}
header .top .center {
  display: inline-block;
  vertical-align: middle;
  width: 510px;
  margin-right: 20px;
}
header .top .center .department {
  color: #8bd2f9;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}
header .top .center .name {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 0;
}
header .top .right {
  float: right;
  text-align: right;
  width: 340px;
}
header .top .right ul.phones {
  display: inline-block;
  list-style: none;
  color: #8bd2f9;
  font-size: 0;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
header .top .right ul.phones:before {
  content: "";
  background: url(../img/sprite.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
header .top .right ul.phones li {
  font-size: 14px;
  display: inline-block;
}
header .top .right ul.phones li:after {
  content: "|";
  display: inline-block;
  margin: 0 8px;
}
header .top .right ul.phones li:last-child:after {
  display: none;
}
header .top .right .search {
  display: inline-block;
}
header .top .right .search input {
  width: 260px;
}
header .banner {
  height: 400px;
  overflow: hidden;
  background-color: #ffffff;
}
header .banner .wrap-banner {
  position: relative;
  width: 1340px;
  left: -180px;
  height: 400px;
}
header .banner .wrap-banner:before {
  content: "";
  position: absolute;
  z-index: 100;
  display: block;
  width: 180px;
  height: 100%;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */
}
header .banner .wrap-banner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100;
  width: 180px;
  height: 100%;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
header .banner img {
  position: absolute;
  top: 0;
  left: 0;
}
header .main-menu {
  background-color: #fb805f;
  padding: 0;
  text-align: center;
}
header .main-menu ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
header .main-menu ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
header .main-menu ul li:first-child {
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
  background-position: center;
}
header .main-menu ul li:first-child a {
  display: inline-block;
  text-indent: -9999px;
  width: 64px;
}
header .main-menu ul li:hover,
header .main-menu ul li.active {
  background-color: #da6748;
}
header .main-menu ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 18px 20px;
}
header .sub-menu {
  padding: 0;
  text-align: center;
}
header .sub-menu ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
header .sub-menu ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
header .sub-menu ul li a {
  display: inline-block;
  font-weight: 300;
  padding: 15px 20px;
}
.columns {
  overflow: hidden;
}
.columns div[class|=col] {
  float: left;
}
.columns .col-main {
  width: 730px;
  margin-right: 16px;
}
.columns .col-sidebar {
  width: 234px;
}
.page .preview img {
  display: block;
  width: 100%;
}
.page .date {
  color: #000000;
  font-weight: 600;
}
.page h2 {
  margin-bottom: 12px;
  color: #fb805f;
  text-transform: uppercase;
}
.gallery {
  font-size: 0;
}
.gallery .item {
  width: 234px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  margin-bottom: 14px;
}
.gallery .item:nth-child(4n) {
  margin-right: 0;
}
.gallery .item img {
  width: 234px;
  height: 166px;
}
.gallery .item .desc {
  margin-top: 10px;
  overflow: hidden;
}
.gallery .item .desc h3 {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}
.gallery .item .desc p {
  margin: 0;
}
.gallery .item .desc .btn {
  float: right;
  border-radius: 6px;
}
.sidebar .gallery .item:nth-child(4n) {
  margin-right: 0;
}
.news-section {
  font-size: 0;
  margin-bottom: 20px;
}
.news-section .news-carousel {
  font-size: 14px;
  width: 450px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.news-section .news-feed {
  width: 215px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.news-section .news-feed .item {
  height: 96.66666667px;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
}
.news-section .news-feed .item:last-child {
  margin-bottom: 0;
}
.news-section .news-feed .item img {
  display: block;
  float: left;
  height: 100%;
  width: 112px;
}
.news-section .news-feed .item .description {
  float: left;
  height: 96.66666667px;
  width: 103px;
  font-size: 14px;
  height: 100%;
  border-top: 2px solid #fb805f;
  background-color: #ffffff;
  padding: 3px 6px 6px;
}
.news-section .news-feed .item .description h3 {
  font-size: 10px;
  color: #1c1c1c;
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  height: 12px;
  line-height: 12px;
}
.news-section .news-feed .item .description .date {
  display: block;
  margin-top: 0;
  margin-bottom: 6px;
  line-height: 1.1;
  font-size: 10px;
  color: #fb805f;
  overflow: hidden;
  height: 12px;
  line-height: 12px;
}
.news-section .news-feed .item .description p {
  margin: 0;
  font-size: 10px;
  line-height: 11px;
  overflow: hidden;
  height: 56px;
}
.news-section .news-feed .item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.news-section .content-carousel {
  display: inline-block;
  vertical-align: top;
  width: 670px;
  height: 300px;
  margin-right: 5px;
  font-size: 14px;
  background-color: #ffffff;
}
.news-section .content-carousel .news-slider-content {
  padding: 40px;
  overflow: hidden;
}
.news-section .content-carousel .news-slider-content img {
  float: left;
  display: inline-block;
  margin: 0 20px 20px 0;
}
.news-section .content-carousel .news-slider-content .content {
  overflow: hidden;
  margin-bottom: 14px;
  max-height: 178px;
}
.news-section .content-carousel .news-slider-content p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.news-section .content-carousel .news-slider-content .date {
  color: #000000;
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 600;
}
.news-section .content-carousel .news-slider-content .title {
  color: #fb805f;
  text-transform: uppercase;
  font-weight: 600;
}
.news-section .content-carousel .carousel {
  width: 670px;
  height: 300px;
}
.news-section .content-carousel .carousel .owl-item {
  height: 300px;
}
.news-section .news-calendar {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.services .container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.services .container .left {
  float: left;
  width: 320px;
  padding-bottom: 500em;
  margin-bottom: -500em;
  background-color: #ffffff;
}
.services .container .center {
  float: left;
  width: 340px;
  padding-bottom: 500em;
  margin-bottom: -500em;
  background-color: #ffffff;
}
.services .container .center .block {
  position: relative;
}
.services .container .center .block .loader {
  position: absolute;
  z-index: 100;
  right: -188px;
  top: 50%;
  margin-top: -24px;
}
.services .container .preview {
  float: left;
  margin-right: -1px;
  width: 320px;
  padding-bottom: 500em;
  margin-bottom: -500em;
  background-color: #38799e;
}
.services .container .preview .content {
  padding: 15px 15px;
}
.services .block {
  padding: 20px;
}
.services .block h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: #38799e;
}
.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services ul li {
  padding-left: 40px;
  background: url(../img/arrow.png) 10px 8px no-repeat;
  margin-top: 0;
  margin-bottom: 5px;
}
.services ul.additional_training > li {
  background: none;
  padding-left: 0;
  margin-bottom: 5px;
}
.services ul.additional_training > li span {
  font-size: 12px;
  color: #fb805f;
  text-transform: uppercase;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}
.services ul.additional_training > li span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 0;
  width: 36px;
  height: 36px;
  background: url(../img/directions.png) no-repeat;
}
.services ul.additional_training > li.art span:before {
  background-position: 0 0;
}
.services ul.additional_training > li.tourism span:before {
  background-position: -36px 0;
}
.services ul.additional_training > li.social span:before {
  background-position: -72px 0;
}
.services ul.additional_training > li.sport span:before {
  background-position: -108px 0;
}
.services ul.additional_training > li.natural span:before {
  background-position: -144px 0;
}
.services ul.additional_training > li.tech span:before {
  background-position: -180px 0;
}
.services ul.additional_training ul {
  margin-bottom: 15px;
  padding-left: 30px;
}
.services ul.additional_training ul li {
  padding-left: 30px;
  line-height: 1;
  margin-bottom: 2px;
}
.services ul.additional_training ul li a {
  display: block;
  padding: 3px 0 5px 8px;
}
.services ul.additional_training ul li a.active {
  color: #ffffff;
  background-color: #77c2ed;
  text-decoration: none;
}
.services .collectives .empty {
  color: #ffffff;
}
.services .collectives .item {
  color: #ffffff;
  margin-bottom: 25px;
}
.services .collectives .item img {
  margin-bottom: 20px;
  width: 282px;
}
.services .collectives .item h3 {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services .collectives .item h3 span {
  text-transform: none;
}
.services .collectives .item > div {
  margin-bottom: 10px;
}
.services .collectives .item p {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
.services .collectives .item p b {
  margin-bottom: 8px;
  display: inline-block;
}
.services .collectives .item .buttons {
  font-size: 0;
}
.services .collectives .item .buttons a {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  width: 88px;
  text-align: center;
  background-color: #255e7e;
  line-height: 32px;
  height: 32px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.services .collectives .item .buttons a:nth-child(5n-2) {
  margin-right: 0;
}
.services .collectives .item .buttons a:hover {
  background-color: #154059;
}
.error {
  text-align: center;
  padding: 30px 0;
}
.error .error-balloon {
  background: url(../img/error-balloon.png);
  width: 406px;
  height: 321px;
  display: inline-block;
  text-align: middle;
}
.error .error-balloon .code {
  display: inline-block;
  color: #f2f2f2;
  font-size: 100px;
  text-shadow: 0 1px 1px #a22610, 0 -1px 1px #a22610, 1px 0 1px #a22610, -1px 0 1px #a22610;
  background: url(../img/glow-border.png) bottom no-repeat;
  background-size: 100% 2px;
  margin-top: 60px;
  width: 270px;
}
.error .error-balloon .message {
  color: #000000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
  font-size: 14px;
  display: inline-block;
  background: url(../img/glow-border-short.png) bottom no-repeat;
  line-height: 1;
  padding: 10px 0 12px;
}
.error .error-balloon .link a {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
  line-height: 1;
  display: inline-block;
  padding: 10px 0 12px;
}
.error .debug {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
}
footer {
  background-color: #38799e;
  padding: 25px 0;
  overflow: hidden;
  margin-top: 20px;
}
footer .block {
  float: left;
  padding-right: 50px;
}
footer .block h3 {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
}
footer .block ul {
  color: #ffffff;
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin: 0;
}
footer .block ul li {
  line-height: 1.2;
  margin-bottom: 10px;
}
footer .block ul li a {
  color: #ffffff;
  text-decoration: none;
}
footer .block ul li a:hover {
  text-decoration: underline;
}
footer .useful-links {
  width: 25%;
}
footer .partners {
  width: 35%;
}
footer .socials {
  width: 20%;
}
footer .socials a {
  display: inline-block;
  vertical-align: middle;
}
footer .socials a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/socials.png) no-repeat;
  width: 19px;
  height: 19px;
  margin-right: 10px;
}
footer .socials a.tw:before {
  background-position: -19px 0;
}
footer .socials a.vk:before {
  background-position: -38px 0;
}
footer .socials a.ytb:before {
  background-position: 0 -19px;
}
footer .socials a.inst:before {
  background-position: -19px -19px;
}
footer .socials a.gp:before {
  background-position: -38px -19px;
}
footer .master {
  width: 20%;
  padding-right: 0;
}
footer .master .slogan {
  color: #ffffff;
  margin-top: 0;
}
/* ==========================================================================
   Widgets
   ========================================================================== */
.scroller .scroller__track {
  display: block;
  width: 1px;
  background: #ffffff;
  right: 10px;
  bottom: 10px;
}
.scroller .scroller__track .scroller__bar {
  background: #ffffff;
  width: 5px;
  border-radius: 2.5px;
  right: -2px;
}
.flip-calendar {
  display: inline-block;
  vertical-align: top;
  width: 305px;
  height: 300px;
  position: relative;
  color: #000000;
  font-size: 14px;
}
.flip-calendar:before,
.flip-calendar:after {
  content: "";
  display: block;
  width: 26px;
  height: 0;
  position: absolute;
  border-top: 14px solid #fb805f;
  border-bottom: 14px solid #da6748;
  top: -14px;
  z-index: 200;
}
.flip-calendar:before {
  left: 60px;
}
.flip-calendar:after {
  right: 60px;
}
.flip-calendar .cover {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.flip-calendar .cover .loader {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/loader-orange.gif) no-repeat;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 50%;
  margin-left: -18px;
}
.flip-calendar .cover .back {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  line-height: 17px;
}
.flip-calendar .cover .back:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  background: url(../img/navigators.png) 0 -21px no-repeat;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  line-height: 21px;
}
.flip-calendar .cover.cover-main {
  z-index: 10;
}
.flip-calendar .cover.cover-main .calendar {
  margin-top: 20px;
}
.flip-calendar .cover.cover-top {
  top: -300px;
  display: none;
}
.flip-calendar .cover.cover-top .scroller {
  height: 230px;
}
.flip-calendar .cover.cover-top .ui-datepicker {
  padding: 10px 20px;
}
.flip-calendar .cover.cover-top .ui-datepicker .ui-datepicker-title {
  margin-bottom: 0;
}
.flip-calendar .cover.cover-bottom {
  z-index: 5;
  border-top: 3px solid #f2f2f2;
}
.flip-calendar .cover.cover-bottom .scroller {
  margin-top: 20px;
  height: 230px;
}
.flip-calendar .cover .cover-content {
  overflow: hidden;
}
.flip-calendar .cover .cover-content .scroller-wrap {
  position: relative;
}
.flip-calendar .cover .cover-content .scroller .scroller__track {
  background: #e7e7e7;
}
.flip-calendar .cover .cover-content .scroller .scroller__track .scroller__bar {
  background: #e7e7e7;
}
.flip-calendar .cover .cover-content .content {
  padding: 0 20px;
  overflow: hidden;
}
.flip-calendar .cover .news-list .item {
  margin-bottom: 30px;
}
.flip-calendar .cover .news-list .item a.title {
  display: inline-block;
  margin-bottom: 10px;
  color: #da6748;
  font-weight: bold;
  font-size: 16px;
}
.flip-calendar .cover .news-description h3 {
  font-weight: 300;
  font-size: 22px;
}
.flip-calendar .cover .news-description .btn {
  margin-top: 20px;
}
.carousel {
  width: 450px;
  height: 300px;
  position: relative;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  width: 18px;
  height: 19px;
  cursor: pointer;
  display: block;
  background: url(../img/navigators.png) no-repeat;
  margin-top: -10px;
  z-index: 100;
  outline: none;
}
.carousel .prev {
  top: 50%;
  left: 16px;
  background-position: 0 -42px;
}
.carousel .next {
  top: 50%;
  right: 16px;
  background-position: -21px -42px;
}
.carousel .captions {
  background-color: #000000;
  height: 50px;
  padding: 10px 0;
  position: relative;
}
.carousel .captions .carousel-viewport {
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
  text-align: center;
}
.carousel .captions .caption-carousel-wrap {
  display: inline-block;
  width: 200px;
  height: 50px;
}
.carousel .captions .caption-carousel {
  color: #ffffff;
}
.carousel .captions .caption-carousel .owl-wrapper-outer {
  overflow: visible !important;
}
.carousel .captions .caption-carousel .item {
  position: relative;
}
.carousel .captions .caption-carousel .item h3 {
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  overflow: hidden;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
}
.carousel .captions .caption-carousel .item p {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
}
.carousel .captions .caption-carousel .item a.news-url {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacts {
  padding: 20px;
  background-color: #ffffff;
}
.contacts h2 {
  color: #000000;
  text-align: center;
  margin: 0 20% 20px;
}
.contacts .item {
  margin-bottom: 30px;
  overflow: hidden;
}
.contacts .item .info {
  float: left;
  width: 420px;
  margin-right: 20px;
}
.contacts .item .info h3 {
  font-weight: 600;
  text-transform: uppercase;
}
.contacts .item .info p {
  margin-top: 0;
  margin-bottom: 10px;
}
.contacts .item .map {
  float: left;
  width: 500px;
  height: 150px;
}
div.selector {
  box-sizing: border-box;
  display: inline-block;
  font-family: segoe_ui, sans-serif;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  width: 399px;
  zoom: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.fix-width {
  margin: 0 auto;
  width: 980px;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
