.line div{
	display: inline-block;
}
.clear{
	clear:both;
}
.photos, .calendar{
	display: inline-block!important;
	vertical-align: top;
}
.photos+.calendar{
	margin-left: 10px;
}
.photos{
	width: 667px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.photos-info
{
	position:absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: rgba(0,0,0,0.7);
	padding-top: 10px;
	padding-bottom: 10px;
}
.photos-caption {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Segoe UI';
	margin-bottom: 10px;
}
.photos-more{
	font-size: 13px;
	background: #fa8060;
	border-radius: 20px;
	padding: 5px 28px;
	text-decoration: none;
	font-family: 'Segoe UI',regular;
	line-height: 10px;
	border-bottom: solid 2px #dc3f16;
	color: #fff;
	margin-bottom: 10px;
}
.owl-prev,.owl-next{
	width: 18px;
	height: 19px;
	background: black;
	position: absolute;
	top: 126px;
}

.owl-prev
{
	left: 10px;
	background: black;
}

.owl-next
{
	right: 10px;
	background: black;
}

.calendar{
	width: 300px;
	height: 265px;
	background: #fff;
	padding: 30px;

}
.calendar-item{
	position: relative;
}
.ui-datepicker-calendar tr th{
	color: #e05f3d;
} 
.ui-datepicker-calendar tr td {
	padding: 4px;
	text-align: center;
}
.ui-datepicker-prev{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: url('../img/dt-arrow-left.png') no-repeat;
	height: 21px;
	width: 21px;
	cursor: pointer;
}
.ui-datepicker-next{
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background: url('../img/dt-arrow-right.png') no-repeat;
	height: 21px;
	width: 21px;
	cursor: pointer;
}
.ui-datepicker-calendar tr td a:hover
{
	background: #fb805f;
	border-radius: 45px;
}
.ui-datepicker-calendar tr td a{
	font-size: 14px;
	color: #3a3b36;
	padding: 4px;
	text-decoration: none;
}

.ui-datepicker-title{
	text-align: center;
	font-size: 18px;
	color: #3a3b36;
	margin-bottom: 30px;
}
/*==============================================*/
.gallary{
	margin-top: 26px;

}
.gallary-item-preview{
	display: block;
}